@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=Space+Grotesk&display=swap');

body {
    margin: 0px;
    color: rgb(225, 225, 225);
    background-color: rgb(20, 20, 20);
}

h1 {
    font-family: Oswald;
    font-weight: 700;
    font-size: 50px;
    color: rgb(225, 225, 225);
    background-color: rgba(0, 0, 0, 0);
}

p {
    font-family: Oswald;
    font-weight: 300;
    font-size: 25px;
    padding-left: 50px;
}

.header-div {
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: rgba(35, 35, 35, 100);
}