@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Space+Grotesk&display=swap');

.body-old {
    margin: 0px;
    color: #000000FF;
    background-color: #141414FF;
}

body {
    margin: 0px;
    
    
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: inline;
    font-family: Oswald;
    font-weight: 700;
    font-size: 50px;
    color: #E1E1E1FF;
    background-color: #00000000;
}

h2 {
    text-align: center;
    font-family: Oswald;
    font-weight: 500;
    font-size: 50px;
    color: #E1E1E1FF;
    background-color: #00000000;
}

p {
    text-align:center;
    text-wrap: balance;
    font-family: Oswald;
    color:#E1E1E1FF;
    font-weight: 300;
    font-size: 25px;
}

li {
    display: inline;
    font-family: Oswald;
    font-weight: 300;
    font-size: 25px;
    color: #E1E1E1FF;
    margin: 0px;
}

li a {
    
    color: white;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover {
    background-color: #535353a4;
}

ul {
    display:inline;
    vertical-align:super;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.header-div {
    overflow: hidden;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: #232323FF;
}

.desc-div {
    align-self: center;
    margin-left: 500px;
    margin-right: 500px;
    padding: 100px;
    background-color: #535353aa;
    background-size: cover;
}

.footer-div {
    overflow: hidden;
    vertical-align: bottom;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: #232323FF;
}