@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&family=Space+Grotesk&display=swap');

body {
    margin: 0px;
    color: #000000FF;
    background-color: #141414FF;
}

h1 {
    display: inline;
    font-family: Oswald;
    font-weight: 700;
    font-size: 50px;
    color: #E1E1E1FF;
    background-color: #00000000;
}

p {
    font-family: Oswald;
    color:#E1E1E1FF;
    font-weight: 300;
    font-size: 25px;
    padding-left: 50px;
}

li {
    display: inline;
    font-family: Oswald;
    font-size: 25px;
    color: #E1E1E1FF;
    margin: 0px;
    padding-left: 20px;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

li a:hover {
    background-color: #111;
    margin: 0px;
}

ul {
    display:inline;
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}

.header-div {
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: #232323c4;
}